## Pandas

# Boolean

In [4]:
True == True

True

In [5]:
True == 1

True

In [6]:
True == '1'

False

In [7]:
True == False

False

In [8]:
True !=0

True

In [9]:
False==0

True

In [10]:
True or False

True

In [11]:
1 == '1'

False

In [12]:
1>3

False

In [13]:
eng = 'Korea COVID 19'

In [14]:
eng.lower()

'korea covid 19'

In [15]:
eng.upper()

'KOREA COVID 19'

In [16]:
big = eng.upper()

In [17]:
small = eng.lower()

In [18]:
kor = 'English'

In [19]:
kor.lower()

'english'

In [20]:
kor.upper()

'ENGLISH'

In [21]:
list_data=[1,'두번째',3,4,100,5]
tuple_data=(1,2,3,4,5)
dic_data={1:100,2:200,3:300,4:400,5:500}

In [22]:
type(list_data),type(tuple_data),type(dic_data)

(list, tuple, dict)

In [23]:
list_data[0],list_data[1]

(1, '두번째')

In [24]:
list_data[:3]

[1, '두번째', 3]

In [25]:
list_data[2:]

[3, 4, 100, 5]

In [26]:
list_data[-1]='마지막'

In [27]:
list_data

[1, '두번째', 3, 4, 100, '마지막']

In [28]:
tuple_data

(1, 2, 3, 4, 5)

In [29]:
tuple_data[2]='가운대'

TypeError: 'tuple' object does not support item assignment

In [30]:
data1=[]

In [31]:
data1.append('covol')

In [32]:
data1.append('java')

In [33]:
data1.append('c')

In [34]:
data1.append('Python')

In [35]:
data1

['covol', 'java', 'c', 'Python']

In [36]:
data1[0]

'covol'

In [44]:
data1.reverse()
data1

['java', 'covol', 'c', 'Python']

In [45]:
data1.sort()
data1

['Python', 'c', 'covol', 'java']

In [39]:
dic = {100 : 'A',200 : 'B',300 :'C',400 : 'D',500 : 'E'}
dic

{100: 'A', 200: 'B', 300: 'C', 400: 'D', 500: 'E'}

In [40]:
dic[100],dic[200],dic[300],dic[400],dic[500]

('A', 'B', 'C', 'D', 'E')

In [46]:
dic.get('문자')

In [47]:
dic.keys()

dict_keys([100, 200, 300, 400, 500])

In [48]:
dic.values()

dict_values(['A', 'B', 'C', 'D', 'E'])

In [49]:
man = [1,2,3]

In [60]:
a = [1,2,3]

In [61]:
b = [4,5,6]

In [63]:
import pandas as pd
pd.DataFrame(data=dict(num=a,sum=b),index = ['a','b','c'])

   num  sum
a    1    4
b    2    5
c    3    6

In [65]:
man = {
    'num':[1,2,3],
    'sum':[4,5,6]
}

In [67]:
df=pd.DataFrame(man, index=[1,2,3])

In [68]:
df

   num  sum
1    1    4
2    2    5
3    3    6

In [70]:
man = [
    {'num':'1','sum':'4'},
    {'num':'2','sum':'5'},
    {'num':'3','sum':'6'}
]
df=pd.DataFrame(man, index=[1,2,3])
df

  num sum
1   1   4
2   2   5
3   3   6

In [71]:
person = {
    'name':['a','b','c','d'],
    '국어':[100,17,50,90],
    '영어':[80,60,40,80]
}

In [73]:
person = [
    ['a',100,80],['b',17,60],['c',50,40],['d',90,80]
]
col_name=['name','국어','영어']
df=pd.DataFrame(person, columns=col_name, index=[1,2,3,4])
df

  name   국어  영어
1    a  100  80
2    b   17  60
3    c   50  40
4    d   90  80

In [75]:
df[['국어','영어']]>70

      국어     영어
1   True   True
2  False  False
3  False  False
4   True   True

In [77]:
fd = {
    '학번':[30102,30201,30303,30501],
    'java':[90,100,80,70],
    'Python':[30,100,100,100],
    'C':[50,90,70,100]
}

In [78]:
df=pd.DataFrame(fd)

In [79]:
df

      학번  java  Python    C
0  30102    90      30   50
1  30201   100     100   90
2  30303    80     100   70
3  30501    70     100  100